@page "/user/update/{id}"
@model DefaultWebApplication.Pages.User.UserUpdateModel
@{
    Layout = "_Layout";
}

<form asp-page="userupdate">
    <div form-group class="mb-3">
        <label asp-for="UpdateCommand.UserName"></label>
        <input asp-for="UpdateCommand.UserName" value="@Model.ShowModel.UserName" />
        <span asp-validation-for="UpdateCommand.UserName"></span>
    </div>
    <div form-group class="mb-3">
        <label asp-for="UpdateCommand.UserSurname"></label>
        <input asp-for="UpdateCommand.UserSurname" value="@Model.ShowModel.UserSurname" />
        <span asp-validation-for="UpdateCommand.UserSurname"></span>
    </div>
    <div form-group class="mb-3">
        <label asp-for="UpdateCommand.UserAge"></label>
        <input asp-for="UpdateCommand.UserAge" value="@Model.ShowModel.UserAge" />
        <span asp-validation-for="UpdateCommand.UserAge"></span>
    </div>
    <div form-group class="mb-3">
        <label asp-for="UpdateCommand.UserEmail"></label>
        <input asp-for="UpdateCommand.UserEmail" value="@Model.ShowModel.UserEmail" />
        <span asp-validation-for="UpdateCommand.UserEmail"></span>
    </div>
    <div form-group class="mb-3">
        <label asp-for="UpdateCommand.UserPassword"></label>
        <input asp-for="UpdateCommand.UserPassword" value="@Model.ShowModel.UserPassword" />
        <span asp-validation-for="UpdateCommand.UserPassword"></span>
    </div>
    <button type="submit">Submit</button>
</form>
