@page "/item/update/{id}"
@model DefaultWebApplication.Pages.Item.ItemUpdateModel
@{
}

<form asp-page="itemupdate">
    <div form-group class="mb-3">
        <select asp-for="BoundInputModel.ProductName" asp-items="@Model.AvailableProducts">
            <option>@Model.ShowModel.ProductName</option>
        </select>
    </div>
    <div form-group class="mb-3">
        <select asp-for="BoundInputModel.ColorName" asp-items="@Model.AvailableColors">
            <option>@Model.ShowModel.ColorName</option>
        </select>
    </div>
    <div form-group class="mb-3">
        <select asp-for="BoundInputModel.SizeName" asp-items="@Model.AvailableSizes">
            <option>@Model.ShowModel.SizeName</option>
        </select>
    </div>
    <div form-group class="mb-3">
        <select asp-for="BoundInputModel.CategoryName" asp-items="@Model.AvailableCategories">
            <option>@Model.ShowModel.CategoryName</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>